.mein {
  position: relative; 
}

.ticket_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  justify-content: center;

  width: 700px;
  border: 1px solid;
  padding: 10px;
}

.ticket_item {
  display: flex;
  white-space: nowrap;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin-bottom: 5px;
  
}

.btn_add_ticket {
  padding: 5px 10px;
  background-color: lightgreen;
}

.dot_status {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: rgb(211, 210, 210);
}

.circle {
  border: 2px solid;
  border-radius: 50%;
}

.ticket_title {
  width: 300px;

  /* Скрывает переполнение текста   */
  overflow: hidden; 
  /* Переносит длинные слова на следующую строку */  
  word-wrap: break-word; 
  /* Позволяет перенос строк и сохраняет нужные переносы */    
  white-space: pre-wrap; 
}

.ticket_data {
  width: 50px;
}

.dot_edit {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: rgb(255, 255, 132);
  cursor: pointer;
}

.dot_close {    
  display: flex;  
  width: 40px;
  height: 40px;
  margin: 5px;  
  text-align: center;
  background-color: rgb(255, 132, 132);
  cursor: pointer;
}

.dot_close_x {
  margin: auto;
}

.hidden {
  display: none;
}

.form {
  position: absolute; 
  width: 400px;
  border: 1px solid;
  left: 100px;
  top: 200px;
  background-color: lightblue;
  padding: 10px;
}

.form_body {
  display: flex;
  flex-direction: column;   
}

.form_title {
  text-align: center;
}

.form_button {
  display: flex;  
  flex-direction: row;   
  justify-content: flex-end;
  padding: 5px; 
}

.form_btn_censel {
  margin-right: 5px;
}

